/* Portfolio start */
.portfolio {
    padding: 47px 0px 48px;
    overflow: hidden;
}

.portfolio .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
}

.portfolio .title {
    text-align: center;
}

.portfolio .portfolio_text {
    font-weight: 500;
    font-size: 28px;
    line-height: 35.7px;
    text-align: center;
    max-width: 517px;
}

.portfolio .portfolio_text span {
    color: var(--green);
}

.portfolio .slider {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    background-image: url(../../assets/images/iMac2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1100px 576px;
}

.portfolio .slide_img img,
.portfolio .slide_img {
    width: 100%;

}

.portfolio .portfolioSlide {
    padding-bottom: 25px;
}

.portfolio .portfolioSlide .swiper-slide {
    opacity: 0 !important;
}

.portfolio .portfolioSlide .swiper-slide-active {
    opacity: 1 !important;
}

.portfolio .swiper-pagination {
    background: var(--black-light);
    border-radius: 30px;
    padding: 10px;
    max-width: fit-content;
    left: 50%;
    bottom: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%);
}

.portfolio .swiper-pagination .swiper-pagination-bullet {
    width: 17px;
    height: 5px;
    border-radius: 64px;
    opacity: 1;
    background: #FFFFFF;
}

.portfolio .swiper-pagination .swiper-pagination-bullet-active {
    width: 58px;
    background: var(--green);
}

.portfolio .swiper-button-prev,
.portfolio .swiper-button-next {
    border-radius: 98px;
    background: var(--black-light);
    padding: 11.2px 37.8px;
    bottom: 50px;
    top: auto;
    z-index: 2;
    width: 80px;
}

.portfolio .swiper-button-prev::after,
.portfolio .swiper-button-next::after {
    display: none;
}

.portfolio .swiper-button-prev {
    left: 200px;
}

.portfolio .swiper-button-next {
    right: 200px;
}


.portfolio .slider_head{
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 185px;
    background: #F2F2F2;
    width: 726px;
    padding: 9px 20px 9px 16px;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.portfolio .slider_head .right,
.portfolio .slider_head .left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.portfolio .slider_head .slider_arrows{
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
}
.portfolio .slider_head .slider_name{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 78px;
    padding: 8px;
    background: var(--white);
    border: 0.25px solid #F2ECEE;
    border-radius: 5px;
    width: 291px;
    height: 26px;
}
.portfolio .slider_head .site_name{
    display: flex;
    align-items: center;
    gap: 8px;
}
.slider_head .site_name span{
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: var(--black-light);
}
.portfolio .slide_card{
    height: 576px;
}
.portfolio .slide_card iframe{
    width: 1457px;
    height: 732px;
    position: absolute;
    top: 53px;
    left: 185px;
    border-radius: 0 0 10px 10px;
    border: none;
    transform: scale(0.5);
    transform-origin: top left;
    background: #FFF;
}


// Dark mode 
.dark .portfolio .portfolio_text,
.dark .portfolio .title {
    color: var(--white);
}

.dark .portfolio .title span {
    color: var(--green);
}

.dark .portfolio .swiper-button-prev,
.dark .portfolio .swiper-button-next {
    background: var(--green);
}

.dark .portfolio {
    background: #323232;
}


// Media queries
@media (max-width: 1170px) {

    .portfolio .portfolio_img img,
    .portfolio .portfolio_img {
        height: 320px;
    }
}

@media (max-width: 1075px) {
    .portfolio .block {
        grid-template-columns: 48% 48%;
    }
    .portfolio .slider{
        zoom: .7;
    }
}

@media (max-width: 776px) {
    .portfolio .portfolio_img img,
    .portfolio .portfolio_img {
        height: 280px;
        border-radius: 20px;
    }
    .portfolio .slider {
        zoom: 0.6;
    }
}

@media (max-width: 620px) {
    .portfolio .slider{
        zoom: .5;
    }
}

@media (max-width: 576px) {
    .portfolio .block {
        grid-template-columns: 100%;
        gap: 25px;
        margin: 30px 0;
    }

    .portfolio .swiper-button-next,
    .portfolio .swiper-button-prev {
        bottom: 70px;
        padding: 8px 30px;
    }

    .portfolio .swiper-button-next img,
    .portfolio .swiper-button-prev img {
        width: 30px;
    }


    .portfolio .portfolio_text {
        font-size: 18px;
        line-height: 24px;
        max-width: 420px;
    }
}

@media (max-width: 550px) {
    .portfolio .slider{
        left: -80px;
    }
}

@media (max-width: 460px) {
    .portfolio .slider{
        zoom: .4;
    }
}

@media (max-width: 370px) {
    .portfolio .slider{
        left: -150px;
    }
}