/* About start */
.about {
    padding: 70px 0px 60px;
    overflow: hidden;
}

.about .about_block {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.about_block .about_cards,
.about_block .top {
    display: grid;
    grid-template-columns: 35% 63%;
    gap: 24px;
}

.about_block .title {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.about_block .top p {
    font-weight: 500;
    font-size: 21px;
    line-height: 26.25px;
    letter-spacing: 6%;
    color: var(--black);
    max-width: 710px;
}

.about_block .top p span {
    color: var(--green);
}

.about_cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 0;
    border-radius: 30px;
    background: var(--grey);
    height: 100%;
    overflow: hidden;
}

.about_cards .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 40px;
}

.about_cards .texts b {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 84px;
    line-height: 84px;
    color: var(--green);
}

.about_cards .texts span {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: var(--white);
}

.about_cards .team{
    display: flex;
    align-items: start;
    gap: 7px;
}
.about_cards .team_imgs {
    position: relative;
    display: flex;
    align-items: center;
}
.about_cards .team_imgs img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: -15px;
    border: 2px solid #FFF;
}


.about_cards .team .team_btn img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.about_cards .team .team_btn .minus,
.about_cards .team .team_btn .plus {
    font-weight: 600;
    font-size: 74px;
    line-height: 74px;
    color: var(--green);

}

.about_cards .team .team_btn.active .plus,
.about_cards .team .team_btn .minus {
    display: none;
}

.about_cards .team .team_btn.active .minus {
    display: block;
}

.about_block .about_video {
    position: relative;
    height: max-content;
}

.about_video video {
    width: 100%;
    height: 382px;
    object-fit: cover;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_video h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 67.2px;
    letter-spacing: 15px;
    color: var(--white);
    text-align: center;
}

.about_video .play_btn {
    position: absolute;
    right: 22px;
    bottom: 14px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    border: 10px solid var(--grey);
    border-radius: 100%;
    box-shadow: 0px 19px 28.5px 0px rgba(0, 0, 0, 0.3019607843);
    font-size: 30px;
}

.about_video .play_btn svg path {
    fill: var(--grey);
}

.about_video .play_btn:hover svg {
    transform: scale(1.2);
}


// Dark mode
.dark .about_block .title,
.dark .about_block .top p {
    color: var(--white);
}

.dark .about_cards .team_imgs img,
.dark .about_block .title span {
    color: var(--green);
}

.dark .about {
    background: var(--black-light);
}

.dark .about_cards .card {
    background: #010205;
}

.dark .about_video .play_btn {
    border-color: #FAFAFA;
}

.dark .about_video .play_btn svg path {
    fill: var(--white);
}


// Media queries
@media (max-width: 1170px) {

    .about_block .about_cards,
    .about_block .top {
        grid-template-columns: 40% 57%;
        gap: 20px;
    }
    .about_cards .card{
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 1075px) {

    .about_block .about_cards,
    .about_block .top {
        grid-template-columns: 100%;
    }

    .about_block .top p br {
        display: none;
    }

    .about_video .play_btn {
        transform: translate(50%);
        right: 50%;
    }
}

@media (max-width: 576px) {
    .about_cards .card {
        border-radius: 20px;
        padding: 30px;
        height: auto;
    }

    .about_cards .texts {
        gap: 10px;
    }

    .dark .about_video .play_btn {
        right: 50%;
        bottom: -39px;
        font-size: 28px;
        width: 100px;
        height: 100px;
        border: 6px solid var(--grey);
    }

    .about_video .play_btn svg {
        width: 25px;
    }

    .about_cards .team_btn img {
        width: 30px;
    }

    .about_video h3 {
        font-size: 35px;
        line-height: 46px;
        letter-spacing: 7px;
    }

    .about_video .video video,
    .about_video .video {
        height: 320px;
        border-radius: 20px;
    }

    .about_block .top p {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .about {
        padding: 40px 0px 60px;
    }

    .about_cards .team .team_btn .minus, 
    .about_cards .team .team_btn .plus{
        line-height: 56px;
    }
}


@media (max-width: 400px) {
    .about_cards .team_btn img {
        width: 25px;
    }
}