:root {
  --green: #07E7B7;
  --blues: #2E9DE0;
  --black: #000000;
  --black-light: #232325;
  --grey: #5C5D5F;
  --grey2: #AEAEAE;
  --grey3: #F2F2F2;
  --white: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Onest', sans-serif;
  font-weight: 600;
  background: #FFF;
}

body.no-scroll {
  overflow: hidden;
}

.blur{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/blur.png);
  pointer-events: none;
}

a,
button,
span,
img,
svg,
li {
  transition: .3s ease all;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.main_title {
  font-weight: 600;
  font-size: 60px;
  line-height: 78px;
  color: var(--black-light);
}

@media (max-width: 576px) {
  .main_title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
}